<a href="https://colab.research.google.com/github/seamus0215/study_sessions/blob/main/Design_Effective_Statistical_Models_to_Understand_Your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Design Effective Statistical Models to Understand Your Data

### Correlation

Correlation is an important concept which is at the core of data modeling. Similar to linearity, correlation is a common concept used in everyday conversation. When we say that two things are correlated, we usually mean that as one changes, the other also changes.

Two variables are said to be correlated, if they move together. if the move in the same direction then they are said to be positively correlated and if the move in opposite direction then they are negatively correlated.

The correlation coeffiecient is always a number between -1 and 1. By default correlation is mathematically called 'Pearson correlation', it requires the data to be 'linear and normally distributed'.

ðŸš© **Correlation does not imply causation**, this means that two variables can be correlated but not neccessarily driving the other. An example is when a third unknown factor is driving the outcome of the two variables, that hidden factor is called a "confounder".

The confounder is a variable that is absent from the dataset but drives the present variables e.g ice cream consumption and drowning accidents. Obviously one does not cause the other, the confounder here is temperature, when it's hot more people go to the beach and consume more ice cream.

Therfore, correlation is a great way to measure the dependency between two variables but one cannot conclude any type of causality even when the variables are strongly correlated.

You can calculate the correlation between two variables in a pandas DataFrame with the  `corr()`  function. Let's look at the correlation between the height and the weight in the school dataset.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'sex': ['m', 'f', 'm', 'f', 'f'],
    'age': [25, 34, 45, 23, 58],
    'height': [128.270257, 130.302261, 130.810262, 133.350267, 134.112268],
    'weight': [35.833768, 22.906396, 29.029888, 36.740952, 28.803092]
    })

df

  sex  age      height     weight
0   m   25  128.270257  35.833768
1   f   34  130.302261  22.906396
2   m   45  130.810262  29.029888
3   f   23  133.350267  36.740952
4   f   58  134.112268  28.803092

In [ ]:
r = df.corr()
r

             age    height    weight
age     1.000000  0.474551 -0.528260
height  0.474551  1.000000  0.001917
weight -0.528260  0.001917  1.000000

In [ ]:
df.corr()['height']['weight']

0.0019173559870038141

In [ ]:
type(r)

pandas.core.frame.DataFrame

In [ ]:
# The correlation for a numpy array can be derived using the corrcoef() function

import numpy as np

np.corrcoef(df.height, df.weight)

array([[1.        , 0.00191736],
       [0.00191736, 1.        ]])

### Testing Hypothesis